<a href="https://colab.research.google.com/github/revy1817/Data_Science-Numpy-Matplotlib-Scikit-learn-/blob/less3/less3_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# **1. Разбейте датасет из train.csv на обучающий и валидационный наборы данных.**

In [ ]:
DATASET_PATH = '/content/drive/MyDrive/Colab Notebooks/less2/train.csv'
df = pd.read_csv(DATASET_PATH, sep=',')

df

         Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
0     11809          27    3.0  ...        0        B  305018.871089
1      3013          22    1.0  ...        0        B  177734.553407
2      8215           1    3.0  ...        1        B  282078.720850
3      2352           1    1.0  ...        1        B  168106.007630
4     13866          94    2.0  ...        6        B  343995.102962
...     ...         ...    ...  ...      ...      ...            ...
9995   1260          61    2.0  ...        9        B  119367.455796
9996  16265          27    2.0  ...        0        A  199715.148807
9997   2795         178    1.0  ...        5        B  165953.912580
9998  14561          21    1.0  ...        5        B  171842.411855
9999   7202          94    1.0  ...        9        B  177685.627486

[10000 rows x 20 columns]

In [ ]:
X = df.drop('Price', axis=1)
X = X.drop('Id', axis=1)
X

      DistrictId  Rooms      Square  ...  Helthcare_2  Shops_1  Shops_2
0             27    3.0  115.027311  ...            0        0        B
1             22    1.0   39.832524  ...            1        0        B
2              1    3.0   78.342215  ...            3        1        B
3              1    1.0   40.409907  ...            0        1        B
4             94    2.0   64.285067  ...            0        6        B
...          ...    ...         ...  ...          ...      ...      ...
9995          61    2.0   49.090728  ...            1        9        B
9996          27    2.0   64.307684  ...            0        0        A
9997         178    1.0   29.648057  ...            1        5        B
9998          21    1.0   32.330292  ...            3        5        B
9999          94    1.0   35.815476  ...            3        9        B

[10000 rows x 18 columns]

In [ ]:
y = pd.DataFrame(df, columns=["Price"]).astype(int)
y

       Price
0     305018
1     177734
2     282078
3     168106
4     343995
...      ...
9995  119367
9996  199715
9997  165953
9998  171842
9999  177685

[10000 rows x 1 columns]

# **2. Заполните пропущенные значения в датасете медианами или модами**

In [ ]:
X.isna().sum()

DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
dtype: int64

In [ ]:
median_ls = X['LifeSquare'].median()

In [ ]:
X['LifeSquare'].fillna(median_ls, inplace=True)

In [ ]:
mode_hc = X['Healthcare_1'].mode()[0]
X['Healthcare_1'].fillna(mode_hc, inplace=True)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DistrictId     10000 non-null  int64
 1   Rooms          10000 non-null  float64
 2   Square         10000 non-null  float64
 3   LifeSquare     10000 non-null  float64
 4   KitchenSquare  10000 non-null  float64
 5   Floor          10000 non-null  int64
 6   HouseFloor     10000 non-null  float64
 7   HouseYear      10000 non-null  int64
 8   Ecology_1      10000 non-null  float64
 9   Ecology_2      10000 non-null  object
 10  Ecology_3      10000 non-null  object
 11  Social_1       10000 non-null  int64
 12  Social_2       10000 non-null  int64
 13  Social_3       10000 non-null  int64
 14  Healthcare_1   10000 non-null  float64
 15  Helthcare_2    10000 non-null  int64
 16  Shops_1        10000 non-null  int64
 17  Shops_2        10000 non-null  object
dtypes: float64(7), int64(8), object(3)
memory usage: 1.4+ MB

# **3. Переведите строковый признак в числовое представление.**

In [ ]:
score_map = {
    'A': 1,
    'B': 2
}

In [ ]:
X['Ecology_2'] = X['Ecology_2'].map(score_map)
X['Ecology_3'] = X['Ecology_3'].map(score_map)
X['Shops_2'] = X['Shops_2'].map(score_map)
X

      DistrictId  Rooms      Square  ...  Helthcare_2  Shops_1  Shops_2
0             27    3.0  115.027311  ...            0        0        2
1             22    1.0   39.832524  ...            1        0        2
2              1    3.0   78.342215  ...            3        1        2
3              1    1.0   40.409907  ...            0        1        2
4             94    2.0   64.285067  ...            0        6        2
...          ...    ...         ...  ...          ...      ...      ...
9995          61    2.0   49.090728  ...            1        9        2
9996          27    2.0   64.307684  ...            0        0        1
9997         178    1.0   29.648057  ...            1        5        2
9998          21    1.0   32.330292  ...            3        5        2
9999          94    1.0   35.815476  ...            3        9        2

[10000 rows x 18 columns]

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DistrictId     10000 non-null  int64
 1   Rooms          10000 non-null  float64
 2   Square         10000 non-null  float64
 3   LifeSquare     10000 non-null  float64
 4   KitchenSquare  10000 non-null  float64
 5   Floor          10000 non-null  int64
 6   HouseFloor     10000 non-null  float64
 7   HouseYear      10000 non-null  int64
 8   Ecology_1      10000 non-null  float64
 9   Ecology_2      10000 non-null  int64
 10  Ecology_3      10000 non-null  int64
 11  Social_1       10000 non-null  int64
 12  Social_2       10000 non-null  int64
 13  Social_3       10000 non-null  int64
 14  Healthcare_1   10000 non-null  float64
 15  Helthcare_2    10000 non-null  int64
 16  Shops_1        10000 non-null  int64
 17  Shops_2        10000 non-null  int64
dtypes: float64(7), int64(11)
memory usage: 1.4 MB

# **4. Обучите линейную модель. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.**

---

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, 
                                                    random_state = 100)


lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
check_test = pd.DataFrame({
    "y_test": y_test["Price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

      y_test         y_pred
8018  139044   96922.078244
9225   75312  149008.797372
3854  260593  239472.348281
2029   99567  258820.219647
3539   99068  182857.591172
1942   90379  153875.554772
1250  350956  346170.252893
2817   95614  305629.367550
4211  232156  182985.984948
477   217166  153205.365049

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-2261.339697292033

## **Вывод:** 
R2 метрика показала отрицательный результат, что говорит о том что модель в очень плохом состоянии

# **5. Обучите более сложную модель на ваш выбор. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import warnings
from sklearn.metrics import roc_auc_score

warnings.filterwarnings('ignore')

In [ ]:
parameters = [{'n_estimators': [10, 15],
'max_features': np.arange(3, 5),
'max_depth': np.arange(4, 7)}]
clf = GridSearchCV(estimator=RandomForestClassifier(random_state=100), 
                   param_grid=parameters, cv=3)

In [ ]:
clf.fit(X_train, y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
clf.best_params_

{'max_depth': 6, 'max_features': 4, 'n_estimators': 10}

In [ ]:
y_pred_proba = clf.predict_proba(X_test)
y_pred_proba = y_pred_proba[:, 1]

In [ ]:
r2_score(y_test, y_pred_proba)

-5.441236473252475

## **Вывод:** 
Случайный лес с нахождением опр. параметров показал реузльтат лучше чем линейная регрессия, но из за того что база данных имеет большое количество выбросов, результат далек от необходимого